# Color output
set terminal {terminal}

# Output file
set output "{out_file}"

# Title
set title "{title}"

# Appearance
set style data lines
set key below
set border 3
set xtics
set ytics
set multiplot
set grid ytics xtics
set grid

# Axes
set xrange [{min_x}:]
set xlabel "{x_title}"

set yrange [{min_y}:]
set ylabel "{y_title}"

# Plot Data
plot for [IDX=0:{series}] '{file}' i IDX u {cols} {plot_options} notitle

